__pycache__/
build/
dist/
venv/
*.log
g1_config.json
g1_connector.log
*.egg-info/
*.egg
*.pyc

# Jetbrains IDE files
.idea

# uv relevant files
.python-version
## uv lock is removed from library projects
uv.lock